@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
  line-height: 24px;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--clr-neon);
}

:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

body {
  background-image: url('./img/planetbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* landing page */
.home-title {
  font-size: 3rem;
  font-weight: 700;
  padding: 5%;
  letter-spacing: .2em;
}

.scores-section {
  grid-template-columns: 1fr 1fr;
  padding: 3% 10%;
  gap: 5%;
}

.scores-container {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.recentScore-title {
  align-items: center;
  gap: 1rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: 500;
}

.button {
  background: transparent;
  border: 0.2em solid var(--clr-neon);
  border-radius: 0.3em;
  padding: 0.25em 0.4em;
  cursor: pointer;
  letter-spacing: .14em;
  text-shadow: 0 0 .125em hsl(0 0% 100% / 0.3), 0 0 .12em var(--clr-neon);
  box-shadow: inset 0 0 .7em 0 var(--clr-neon), 0 0 .7em 0 var(--clr-neon) ;
  transition: background-color 100ms linear;
}

.button::after {
  content: "";
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  box-shadow: 0 0 4em 1em var(--clr-neon);
  opacity: 0;
  transition: opacity 100ms linear;
}

.button:hover {
  background: var(--clr-neon);
  color: var(--clr-bg);
}

.button:hover::after {
  opacity: 1;
}

#addBttn {
  align-self: flex-end;
}

/* score board */

.recentScores {
  background: transparent;
  border: 0.2em solid var(--clr-neon);
  border-radius: 0.3em;
  width: 33vw;
}

.score-list {
  padding: 5%;
}

.score-list:nth-child(odd) {
  background-color: rgba(8, 0, 255, 0.634);
}

/* add score */

.addScore-container {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.addForm {
  flex-direction: column;
  gap: 1.5rem;
}

.addForm input {
  background: var(--clr-bg);
  border: 0.2em solid var(--clr-neon);
  border-radius: 0.3em;
  padding: 0.2rem 0.4rem;
}
